body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-validation-error {
    border: solid 1px #d10a11 !important;
}

.field-validation-error {
    color: #d10a11 !important;
    padding-left: 10px;
    float: none !important;
    width: 100% !important;
    display: block;
}

    .field-validation-error span {
        color: #d10a11 !important;
        width: 100% !important;
    }

.form-error {
    background: #D86C71 !important;
    border: none !important;
}

.form-success {
    background: #dff0d8 !important;
    border: none !important;
    color: #468847 !important;
}

.form-message, .form-error, .form-info, .form-success {
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 15px 0 15px 0;
    line-height: 33px;
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: none;
    background: none;
    background: none;
    background: none;
    color: #fff;
    text-shadow: none;
    list-style: none outside;
    width: auto;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    font-size: 0.8em;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}